@page "/examples/dynamics"
@inherits SlidePage


<PageTitle>@GetBrandedTitle($"Dynamics | Examples |{Texts.Title}")</PageTitle>

<SlideContent HeaderTitle="Dynamics" HeaderSection="Examples">
     <div class="d-flex">
         <div class="d-flex m-auto">
             <div class="m-auto">
                <div class="mb-2">
                    I am Mancho and want to be 
                    <select class="form-control" @bind="@selectedAnimalType">
                       <option value="">Nothing</option>
                       @foreach (var animal in animalTypes)
                       {
                           <option value="@animal.FullName">@animal.Name</option>
                       }
                    </select>
                </div>

                @if (!string.IsNullOrEmpty(selectedAnimalType))
                {
                    <DynamicComponent Type="@Type.GetType(selectedAnimalType)" Parameters="@componentParameters"></DynamicComponent>
                }
             </div>
         </div>
         <div class="d-flex m-auto">
             <div class="d-flex m-auto">
                <SourceCodeRenderer SourceCodeKey="DynamicComponent" Language="cshtml-razor"/>
             </div>
         </div>
     </div>
</SlideContent>


@code {
    private List<Type> animalTypes = new List<Type>
    {
        typeof(Dog),
        typeof(Cat)
    };

    private string selectedAnimalType = null;

    private Dictionary<string, object> componentParameters = new ()
    {
        { "Name", "Mancho" }
    };
}